<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title TODO list
  link(rel="stylesheet", href="css/styles.css")
body
  .container
    ul.nav.nav-pills.nav-justified
      li.menu-button.active-tasks
        a(data-toggle='tab', href='#/active')
          i.fa.fa-clock-o(aria-hidden='true')
      li.menu-button.all-tasks
        a(data-toggle='tab', href='#/all')
          i.fa.fa-list(aria-hidden='true')
      li.menu-button.done-tasks
        a(data-toggle='tab', href='#/done')
         i.fa.fa-check(aria-hidden='true')
    .row
      .input-group
        input.form-control#new-note(type='text', placeholder='Type your new task')
        span.input-group-btn
          button.btn.btn-primary#add(type='submit')
            i.fa.fa-plus(aria-hidden='true')
    .row
      .tab-content#view
  script(src='/js/jquery.min.js')
<<<<<<< HEAD
=======
  script(src='/js/config.js')
  script(src='/js/events.js')
  script(src='/js/command.js')
>>>>>>> dev
  script(src='/js/index.js')
  //script(src='/js/bootstrap.min.js')
  //script(src='/js/handlebars.min.js')