@import 'bootstrap';
@import './node_modules/font-awesome/scss/font-awesome';

.delete {
  opacity: 0;
}

.item:hover .delete {
  opacity: 1;
}

.row {
  margin: 25px 0;
}

.nav li {
  transition: 10s ease-out;
}
.btn i{
  transition: 0.4s ease-in-out;
  }
.btn:hover i{
  transform: rotate(360deg);
}